@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebf5f5;
    font-family: "Syne", sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    display: inline-block;
    text-decoration: none;

}
li{
    list-style: none;
}
:root{
    --blue:#122732;
    --lightgray:#616066;
}
.container{
    max-width: 1416px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.title2{
font-size: 45px;
text-align: center;
}

/* navbar */
.navbar{
    /* background-color: red; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.nav_list{
    font-family: "Syne", sans-serif;
    font-size: 18px;
}
.nav_list li{
    padding: 0 37px;
}
.nav_list a{
 color: white !important;
}
.nav_list a:hover{
  color: skyblue !important;
}
.active{
    position: relative;
}
.active::before{
    content: "";
    background: white;
    height: 1px;
    max-width: 48px;
    width: 100%;
    position: absolute;
    margin-top: 23px;
}

.btn{
    font-size:16px ;
    --bs-btn-padding-x:35px;
    --bs-btn-padding-y:17px;
    background-color: var(--blue);
    color: white;
    border: none;
}
.btn:hover{
    outline: 2px solid var(--blue);
}
.offcanvas {
  flex-direction: row !important;
}

/* banner */
.banner{
    background-image: url('../images/Group\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
}
 h1{
    max-width: 650px;
    width: 100%;
    font-size: 68px;
    font-weight: bold;
    line-height: 1.2;
    color: white;
    /* padding-top: 150px; */
 }
.banner p{
    max-width: 650px;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 /* viewed */
 .view h2{
padding-top: 80px;
 }
 .view p{
 max-width: 612px;
 width: 100%;
 font-size: 20px;
 line-height: 1.2;
 text-align: center;
 margin: 0 auto;
 color: var(--lightgray);
 }
 .view_card{
    border: none;
    background-color: white;
    padding: 5px 0;
    border-radius: 15px;
 }

 .view_head{
    font-size: 30px;
    font-weight: semibold;
    color: #123344;
    padding-top: 15px;
    /* padding-bottom: 15px; */
 }
 .view_number{
    color: var(--blue);
    font-size: 25px;
 }
 .btn-view{
    padding: 14px 58px;
 }
 .btn-view2{
    padding: 14px 58px;
    border-radius: 8px;
    border: 2px solid var(--blue);
    color: black;
    margin-left: 10px;
 }
 .btn-view2:hover{
    background-color: var(--blue);
    color: white;
 }
 .btn-view3{
    padding: 15px 26px;
 }

 /* find house */
 .find{
    padding-top: 74px;
    padding-bottom: 74px;
 }
 .find img{
    border-radius: 15px;
 }
 .find h3{
    max-width: 628px;
    width: 100%;
    font-size: 45px;
    font-weight: semibold;
    line-height: 1.4;
    color: var(--blue);
 }
 .find p{
 max-width: 696px;
 width: 100%;
 font-size:20px;
 color: var(--lightgray);
 }
 .find_bt{
    padding: 10px 30.5px;
 }

 /* work step */
 .work{
    padding-bottom: 50px;
 }

 .work_para{
    max-width: 612px;
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
    line-height: 1.2;
 }
 .work_card{
    padding: 15px;
    border: none;
    border-radius: 12px;
 }
 .work_img{
    width: 40px;
    background-color: var(--blue);
    padding: 10px;
    border-radius: 10px;
 }
 .work_head{
    font-size: 25px;
    color: var(--blue);
 }
 .work_para2{
    max-width: 292px;
    width: 100%;
    font-size: 18px;
    color: var(--lightgray);
 }

 /* agent */
 .agent{
    padding-top: 100px;
 }
 .agent_para{
    max-width: 500px;
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
    line-height: 1.2;
 }
 .agent img{
    border-radius: 20px;
 }
 .agent h4{
    max-width: 212px;
    width: 100%;
    color: var(--blue);
    margin-top: 20px;
 }
 .agent span{
    font-size: 18px;
    color: var(--lightgray);
 }
 .agent_head{
   max-width: 117px !important;
   width: 100%;
 }


 /* get the house */
 .house{
   padding-top: 70px;
   padding-bottom: 70px;
 }
 .house h2{
   max-width: 553px;
   width: 100%;
   font-size: 45px;
 }
  .house p{
   max-width: 480px;
   width: 100%;
   font-size: 20px;
   color: var(--lightgray);
    margin-left: 50px;
 }
 .house_img{
   border-radius: 15px;
 }

 /* clients */
 .client_para{
   max-width:487px;
   width: 100%;
   font-size: 20px;
   color: var(--lightgray);
   margin: 0 auto;
 }
 .client1{
   background-color: white;
   padding: 20px 15px;
   border-radius: 10px;
 }
 .client1 h4{
   font-size: 20px;
   padding-top: 15px;
   padding-bottom: 5px;
 }
 .client_para2{
   max-width: 382px;
   width: 100%;
   font-size: 15px;
   color: var(--lightgray);
 }

  .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* blog */
    .blog{
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .blog_para{
      font-size: 20px;
      text-align: center;
      color: var();
    }
    .blog1{
      background-color: white;
      padding: 15px;
      border-radius: 20px;
    }
    .blog1 h5{
      max-width: 400px;
      width: 100%;
      font-size: 18px;
      margin-top: 10px;
    }
    .blog_para2{
      max-width: 400px;
      width: 100%;
      font-size: 15px;
      color: var(--lightgray);
    }
    .blog_bt:hover{
     outline: 2px solid var(--blue);
    }

     .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* footer */
    .footer{
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: var(--blue);
      color: white;
    }
    .footer a{
      color: white;
    }
    .footer a:hover{
      color: skyblue !important;
    }
    .fot_para{
      font-size: 32px;
    }
    .quality{
      max-width: 263px;
      width: 100%;
      font-size: 18px;
      line-height: 1.2;
    }
    .mail{
      background-color:#123344;
      border: none;
      padding:5px 15px;
      border-radius: 5px;
    }
    ::placeholder{
      color: white;
    }
    #subs{
      background-color: black;
      color: white;
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      margin-left: 5px;
    }

    .fot_icon{
      background-color:#123344;
      color: white;
      padding: 8px 10px;
      border-radius: 50px;
    }
    .fot_para2{
      font-size: 22px;
      font-weight: bold;
    }
    .fot_list li{
      font-size: 18px;
      padding-top:15px ;
      color: white;
    }
   
   .last_part a{
    margin-left:15px ;
   }
@media screen and (max-width:1399px) {
 .btn-view2{
    margin-left: 0;
 } 
 .btn-view,.btn-view2{
    padding: 14px 25px;
 }
  .add{
    font-size: 12px;
  }  
}  
@media screen and (max-width:1199px){
 .nav_list li{
    padding:0 25px;
 } 
} 
@media screen and (max-width:991px) {
    .offcanvas {
    flex-direction: column !important;
  }
  .view_card{
    margin-top: 20px;
  }
  .nav_list a{
    color: var(--blue) !important;
  }
  .work_col{
    margin-top: 10px;
  }
  .work_para2{
    font-size: 15px;
  }
  .work_head{
    font-size: 20px;
  }
  .house p{
   margin-left: 30px;
  }
  .client_para2{
   font-size: 12px;
  }
   .fot1{
      margin: 0 auto;
      text-align: center;
      margin-top: 50px;
    }
    .street{
      display: flex;
      justify-content: center;
    }
}
@media screen and (max-width:767px) {
  .fot_content{
   display: flex;
   flex-direction: column;
  } 
 h1{
  font-size: 50px;
 }
  .house h2{
  text-align: center;
  font-size: 40px;
 }
 .arrow{
  display: none;
 }
 
}
@media screen and (max-width:489px) {
 .mail,#subs{
   margin-top: 8px;
 }
 .last_part a{
    margin-left:5px ;
   }
}

